* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background: linear-gradient(to button, #e26767, #fff);
    min-width: 100%;
}
main{
    display:inline-block;
    margin-top: 4%;
    padding: 15px;
    position: relative;

}
.pokebola{
    width: 70%;
    height: auto;
    border-radius: 50%;
}
.img_pk{
    position: absolute;
    left: 44%;
    bottom: 71%;
    transform: translate(16%, 0%);
    height: 14%;
}
.nome_pk{
    position: absolute;
    bottom: 48%;
    transform: translate(424%, 0%);
    color: rgb(0, 255, 0);
}
.id_pk{
    position: absolute;
    bottom: 47%;
    transform: translate(-1350%, 0%);
    color: rgb(38, 0, 255);
}
.button{
    width: 10%;
    height: 19%;
    border-radius: 50%;
    background-color: #ececec;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 41%;/*altura ets certa*/
    transform: translate(433%, 0%);
}
.button:hover {
    background-color: #ececec;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}
.button:active {
    background-color: #afafaf;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
}
.pesquisa_pk{
    position: absolute;
    bottom: 30%;
    width: 97%;
}
.input{
    border-radius: 12px;
    border: 2px solid #ccc;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline-color: transparent;
}
.tipo{
    position: absolute;
    bottom: 50%;
    width: 50%;
}